 <section>
	<div class="container-fluid">
		<div class="container">
			<h1>{{ categoria === 'filme' ? 'Filmes' : categoria === 'anime' ? 'Animes' : categoria === 'serie' ? 'Séries' : categoria }}</h1>
			
			<div *ngIf="conteudos.length === 0">
				<p>>Nenhum conteúdo disponível para esta categoria.</p>
			</div>
			
			<div class="row">
				<div class="card-item col-md-3 col-sm-6 mb-3"  *ngFor="let conteudo of conteudos">
					<div class="card" (click)="verDetalhes(conteudo.id)">
						<img [src]="conteudo.image" [alt]="conteudo.title" class="img-fluid">
						<h2>{{conteudo.title}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

  