// Importando estilos globais
@import '../../styles.scss';

footer {
	background-color: $preto;
	color: $branco;
	text-align: center;
	padding: 10px;
	bottom: 0;
	width: 100%;

	.logo {
		color: $corPrincipal;
		font-family: $fonteLogo;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 56px; /* Removi a linha duplicada */
		text-transform: uppercase;
	}

	ul {
		display: flex;
		justify-content: center;
		gap: 26px;

		li {
			color: $branco;
			font-family: Raleway;
			font-size: 16px;
			font-weight: 400;

			&:hover { /* Use &:hover em vez de ::hover */
				color: $corPrincipal;
				cursor: pointer;
			}
		}
	}

	p {
		padding-top: 16px;
		color: $branco;
		font-family: Raleway;
		font-size: 16px;
		font-weight: 400;
	}
}