<section>
	<div class="container-fluid">
		<div class="container">
			<h1>MINHA LISTA</h1>
			
			<div *ngIf="conteudosFavoritos.length === 0">
				<p>Você não tem conteúdos favoritados. Por que não favorita alguns conteúdos e volta aqui para conferir?</p>
			</div>
			
			<div class="row">
				<div class="card-item col-md-3 col-sm-6 mb-3" *ngFor="let conteudo of conteudosFavoritos">
					<div class="card" (click)="verDetalhes(conteudo.id)">
						<img [src]="conteudo.image" [alt]="conteudo.title" class="img-fluid">
						<h2>{{conteudo.title}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
