<section class="carrossel" aria-label="Galeria">
	<ol class="carrossel-visao-geral">
		<li id="carrossel-slide1" tabindex="0" class="carrossel-slide" style="background-image: url('../../assets/images/home-banner.png')">
			<div class="carrossel-capturador"></div>
			<div class="container-content">
				<div class="content-carrosel">
					<h1>Titulo</h1>
					<h2>Informacoes Básicas</h2>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident placeat quos eius, blanditiis voluptas laboriosam illo iusto saepe distinctio veritatis minus excepturi, similique nihil qui illum unde esse sit amet.</p>
					<button mat-button>	<mat-icon>play_arrow</mat-icon>Assistir ao Trailer</button>
				</div>
			</div>
		</li>
		<li id="carrossel-slide2" tabindex="0" class="carrossel-slide" style="background-image: url('../../assets/images/home-banner.png')">
			<div class="carrossel-capturador"></div>
			<div class="container-content">
				<div class="content-carrosel">
					<h1>Titulo</h1>
					<h2>Informacoes Básicas</h2>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident placeat quos eius, blanditiis voluptas laboriosam illo iusto saepe distinctio veritatis minus excepturi, similique nihil qui illum unde esse sit amet.</p>
					<button mat-button>	<mat-icon>play_arrow</mat-icon>Assistir ao Trailer</button>
				</div>
			</div>
		</li>
		<li id="carrossel-slide3" tabindex="0" class="carrossel-slide" style="background-image: url('../../assets/images/home-banner.png')">
			<div class="container-content">
				<div class="content-carrosel">
					<h1>Titulo</h1>
					<h2>Informacoes Básicas</h2>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident placeat quos eius, blanditiis voluptas laboriosam illo iusto saepe distinctio veritatis minus excepturi, similique nihil qui illum unde esse sit amet.</p>
					<button mat-button>	<mat-icon>play_arrow</mat-icon>Assistir ao Trailer</button>
				</div>
			</div>
		</li>
		<li id="carrossel-slide4" tabindex="0" class="carrossel-slide" style="background-image: url('../../assets/images/home-banner.png')">
			<div class="carrossel-capturador"></div>
			<div class="container-content">
				<div class="content-carrosel">
					<h1>Titulo</h1>
					<h2>Informacoes Básicas</h2>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident placeat quos eius, blanditiis voluptas laboriosam illo iusto saepe distinctio veritatis minus excepturi, similique nihil qui illum unde esse sit amet.</p>
					<button mat-button>	<mat-icon>play_arrow</mat-icon>Assistir ao Trailer</button>
				</div>
			</div>
		</li>
	</ol>

	<aside class="carrossel-navegacao">
		<ol class="carrossel-lista-navegacao">
			<li class="carrossel-item-navegacao">
				<a href="#carrossel-slide1" class="carrossel-botao-navegacao">1</a>
			</li>
			<li class="carrossel-item-navegacao">
				<a href="#carrossel-slide2" class="carrossel-botao-navegacao">2</a>
			</li>
			<li class="carrossel-item-navegacao">
				<a href="#carrossel-slide3" class="carrossel-botao-navegacao">3</a>
			</li>
			<li class="carrossel-item-navegacao">
				<a href="#carrossel-slide4" class="carrossel-botao-navegacao">4</a>
			</li>
		</ol>
	</aside>
</section>