
<section id="carrosel" class="carrossel carousel slide" data-bs-ride="carousel" aria-label="Galeria">	
	  <div class="carousel-inner container-fluid">
		<div *ngFor="let filme of filmes.slice(0, 4); let i = index" class="carousel-item" [class.active]="i === 0" [style.background-image]="'url(' + filme.image + ')'">
			<div class="container">
				<div class="row vh-100 justify-content-left align-items-center">
					<div class="col-md-6">
						<div class="content-carrosel container">
							<h1>{{ filme.title }}</h1>
							<p>{{ getSinopseLimitada(filme.sinopse) }}</p>
							<button class="btn btn-primary" type="button"><span class="material-icons">play_arrow</span> Assistir ao Trailer</button>
						</div>
					</div>
				</div>
			</div>
					
		  </div>
	  </div>
	
	  <a class="carousel-control-prev" href="#carrosel" role="button" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carrosel" role="button" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	  </a>

	  <!-- 
	  <ol class="carousel-indicators">
        <li data-bs-target="#carrosel" data-bs-slide-to="0" class="active" onclick="goToSlide(0)"></li>
        <li data-bs-target="#carrosel" data-bs-slide-to="1" onclick="goToSlide(1)"></li>
        <li data-bs-target="#carrosel" data-bs-slide-to="2" onclick="goToSlide(2)"></li>
        <li data-bs-target="#carrosel" data-bs-slide-to="3" onclick="goToSlide(3)"></li>
    </ol> -->
</section>
  
  
  
  
  <section>
	<!-- Listagem de filmes favoritos -->
	<div *ngFor="let filme of filmes">
	  <mat-grid-tile *ngIf="filme.favorito">
	  </mat-grid-tile>
	</div>
  
	<!-- Carrossel de filmes -->
	<div class="carousel-slider">
	  <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
		  <div class="carousel-item" *ngFor="let chunk of dividirArrayEmGrupos(filmes, 4); let i = index" [class.active]="i === 0">
			<div class="row">
			  <div class="card-item col-md-3 mb-3" *ngFor="let filme of chunk">
				<div class="card" (click)="verDetalhes(filme.id)">
				  <img [src]="filme.image" [alt]="filme.title">
				  <h4>{{filme.title}}</h4>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	  </div>
	</div>
</section>
  

<!-- 
<div class="container">
		<h1>Olá {{ nome }}!<br>Confira aqui os seus imóveis favoritos:</h1>
		<mat-grid-list cols="3" rowHeight="3:4.1">
				<div *ngFor="let filme of filmes">
						<mat-grid-tile *ngIf="filme.favorito">
								<mat-card>
										<img mat-card-image [src]="filme.image" [alt]="filme.title" />
										<mat-card-content>
												<h2>{{ filme.title }}</h2>
												<p>Gênero: {{ filme.genre.join(', ') }}</p>
												<p>Diretor: {{ filme.director }}</p>
												<p>Atores: {{ filme.actors.join(', ') }}</p>
												<p>Avaliação: {{ filme.rating }}</p>
										</mat-card-content>
										<mat-card-actions>
												<button
														[class]="(filme.favorito === false ? 'favorite' : 'favorite-checked')"
														[title]="(filme.favorito === false ? 'Adicionar aos Favoritos' : 'Remover dos favoritos')"
														(click)="toggleFavorito(filme.id)">
														<mat-icon aria-hidden="false" aria-label="Favorite icon" fontIcon="favorite"></mat-icon>
												</button>
												<button mat-button (click)="verDetalhes(filme.id)">Mais detalhes</button>
										</mat-card-actions>
								</mat-card>
						</mat-grid-tile>
				</div>
		</mat-grid-list>
		<h1>Todos os filmes:</h1>

		<mat-grid-list cols="3" rowHeight="3:4.1">
				<mat-grid-tile *ngFor="let filme of filmes">
						<mat-card>
								<img mat-card-image [src]="filme.image" [alt]="filme.title" />
								<mat-card-content>
										<h2>{{ filme.title }}</h2>
										<p>Gênero: {{ filme.genre.join(', ') }}</p>
										<p>Diretor: {{ filme.director }}</p>
										<p>Atores: {{ filme.actors.join(', ') }}</p>
										<p>Avaliação: {{ filme.rating }}</p>
								</mat-card-content>
								<mat-card-actions>
										<button
												[class]="(filme.favorito === false ? 'favorite' : 'favorite-checked')"
												[title]="(filme.favorito === false ? 'Adicionar aos Favoritos' : 'Remover dos favoritos')"
												(click)="toggleFavorito(filme.id)">
												<mat-icon aria-hidden="false" aria-label="Favorite icon" fontIcon="favorite"></mat-icon>
										</button>
										<button mat-button (click)="verDetalhes(filme.id)">Mais detalhes</button>
								</mat-card-actions>
						</mat-card>
				</mat-grid-tile>
		</mat-grid-list>
</div>
-->