<section>
	<div class="container">
		<div class="row">
			<h1>AVISOS LEGAIS</h1>
			<mat-tab-group animationDuration="1000ms">
				<mat-tab label="Política de Privacidade">
					<div class="container">
						<h2>Política de Privacidade da StartCine+</h2>
						<p>Última atualização: 29/08/2023</p>
						<p>A StartCine+ valoriza profundamente sua privacidade e está comprometida em proteger as informações pessoais que você compartilha conosco. É importante observar que a StartCine+ é um site fictício utilizado exclusivamente para fins de estudo e prática.</p>
					</div>
				</mat-tab>
				<mat-tab label="Proteção de Dados no Brasil">
					<div class="container">
						<h2>Proteção de Dados no Brasil</h2>
						<p>Última atualização: 29/08/2023</p>
						<p>A StartCine+ está em total conformidade com as regulamentações brasileiras relativas à proteção de dados pessoais. Nós aderimos rigorosamente à Lei Geral de Proteção de Dados (LGPD) e estamos comprometidos em garantir a segurança e privacidade das informações que você compartilha conosco.</p>
					</div>
				</mat-tab>
				<mat-tab label="Contrato de Assinatura">
					<div class="container">
						<h2>Contrato de Assinatura</h2>
						<p>Última atualização: 29/08/2023</p>
						<p>Ao se tornar um assinante da StartCine+, você concorda em cumprir os termos e condições do nosso contrato de assinatura. Este contrato inclui detalhes abrangentes sobre os planos disponíveis, preços, período de vigência e obrigações tanto da StartCine+ quanto do assinante.</p>
					</div>
				</mat-tab>
			</mat-tab-group>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="containerAviso">
					<p>Lembre-se que esta plataforma é usada apenas para fins de aprendizado e não coletamos informações pessoais reais. Portanto, você não precisa se preocupar com a divulgação de informações confidenciais. Sua privacidade é importante para nós.</p>
				</div>
			</div>
		</div>
	</div>
</section>