<div class="container">
    <h1>Fale conosco</h1>
    <form (ngSubmit)="submitForm()">
        <mat-form-field>
            <mat-label>Digite seu nome</mat-label>
            <input matInput placeholder="Fulano da Silva" [formControl]="nome" required>
            <mat-error *ngIf="nome.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>  
        <mat-form-field>
            <mat-label>Digite seu e-mail</mat-label>
            <input matInput placeholder="email@email.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field> 
        <mat-form-field>
            <mat-label>Selecione um assunto</mat-label>
            <mat-select [formControl]="assunto">
              <mat-option value="vendas">Tenho interesse em um imóvel</mat-option>
              <mat-option value="suporte">Quero fazer uma reclamação</mat-option>
              <mat-option value="rh">Quero trabalhar na Lar Feliz</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Digite sua mensagem</mat-label>
            <textarea matInput  [formControl]="mensagem"></textarea>
            <mat-error *ngIf="mensagem.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-button [disabled]="(nome.invalid || email.invalid || mensagem.invalid ? 'true' : '')" type="submit">
            Enviar
        </button>
    </form>
</div>

