@import "../../app.component.scss";

section {
	width: 100%;
	min-height: 70vh;
	background-color: $corPreto;
	font-family: $fontePadrao;
	.logoForm {
		padding: 4% 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 0 auto;
		img {
			width: 200px;
		}
		p {
			margin-top: 10px;
			color: $corBranco;
			text-align: center;
			font-size: $tamanhoMedio;
		}
	}
	mat-tab-group {
		width: 80%;
		margin: 0 auto;
		font-family: $fontePadrao;
		.container {
				width: 100%;
				display: block;
				margin: auto;
				h2 {
						font-family: $fontePadrao;
						font-size: $tamanhoMedio;
						line-height: $tamanhoGrande;
						padding-top: 30px;
						font-weight: bold;
						color: $corPrincipal;
				}
				div {
						mat-form-field {
								display: block;
								font-family: $fontePadrao;
								font-size: $tamanhoMedio;
						}
						button {
								display: block;
								background-color: $corPrincipal;
								color: $corBranco;
								font-size: $tamanhoMedio;
								line-height: $tamanhoGrande;
								border: none;
								border-radius: 4px;
								width: 100%;
								height: 48px;
								cursor: pointer;
								&:hover {
										background-color: $corPrincipalComplementar;
								}
								&:disabled {
										cursor: not-allowed;
								}
						}
				}
		}
	}
}

.mat-mdc-tab-header {
  font-size: 18px;
  line-height: 150%;
}

.mat-mdc-tab.mdc-tab {
  background-color: $corCinzaClaro;
}

.mat-mdc-tab-body.mat-mdc-tab-body-active {
  min-height: 40vh;
  font-weight: 400;
  color: $corBranco;
}

.mat-mdc-tab.mdc-tab {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
  background-color: $corPreto;
  &.mdc-tab-indicator--active {
	background-color: $corCinzaClaro;
  }
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: $corBranco;
}

.mdc-tab-indicator .mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
  border-color: $corCinzaClaro;
}

.mdc-tab-indicator__content--underline, .mat-mdc-tab-group, .mat-mdc-tab-nav-bar  {
	--mdc-tab-indicator-active-indicator-color: #F2F2F2;
	--mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
	--mat-tab-header-pagination-icon-color: #F2F2F2;
	--mat-tab-header-inactive-label-text-color: #afafaf;
	--mat-tab-header-active-label-text-color: #F2F2F2;
	--mat-tab-header-active-ripple-color: #F2F2F2;
	--mat-tab-header-inactive-ripple-color: #F2F2F2;
	--mat-tab-header-inactive-focus-label-text-color: #FFC603;
	--mat-tab-header-inactive-hover-label-text-color: #afafaf;
	--mat-tab-header-active-focus-label-text-color: #FEFBFB;
	--mat-tab-header-active-hover-label-text-color: #F2F2F2;
	--mat-tab-header-active-focus-indicator-color: #F2F2F2;
	--mat-tab-header-active-hover-indicator-color: #F2F2F2;
  }

