<section class="sessao01">
    <div class="container">
            <div class="texto-exibicoes">
                <h2>HISTÓRIAS ÚNICAS. ESTRELAS ICÔNICAS. UMA MONTANHA DE ENTRETENIMENTO.</h2>
                <div class="texto-secundario">
                        <p>Planos a partir de R$14,90 BRL/Mês.
                        <p>Cancele a qualquer momento.</p>
                        <p>Cadastre-se agora e ganhe 7 dias grátis.</p>
                </div>
            </div>
=                <div class="butao">ASSINE O STARTCINE</div>
                <div class="butao2">JÁ ASSINO O STARTCINE</div>
=    </div>
</section>