<section class="sessao01">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <header>
                        <div class="container">
                            <img src="../../assets/images/logo.svg" alt="logo do startCine">
                            <div></div>
                            <h1>Onde a Sua História Cinematográfica Começa!</h1>
                        </div>
                    </header>
                <div class="texto-exibicoes">
                    <h2>HISTÓRIAS ÚNICAS. ESTRELAS ICÔNICAS. UMA MONTANHA DE ENTRETENIMENTO.</h2>
                    <div class="texto-secundario">
                        <p>Planos a partir de R$14,90 BRL/Mês.</p>
                        <p>Cancele a qualquer momento.</p>
                        <p>Cadastre-se agora e ganhe 7 dias grátis.</p>
                    </div>
                    <button mat-button routerLink="login" id="button1">ASSINE O STARTCINE</button>
                    <button mat-button routerLink="login" class="butao2">JÁ SOU ASSINANTE</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sessao02">
    <app-exibicoes></app-exibicoes>
</section>
<section class="sessao03">
    <app-subhome></app-subhome>
</section>
