@import '../app.component.scss';

section.sessao01 {
	background-image: url("https://s3-alpha-sig.figma.com/img/154e/382f/b7e8be84d7248b8b9812172cad1cd0c9?Expires=1694390400&Signature=VVlr6nNJi1iCRZlooI99XOSOwje1juyxek8HQ7to2gWdN5foBY-P1bJ5FX~TXZokQm5Dmga2wyINzPHUMHnmDy-BbgwIeY7y0obGD2qL~iGHFibBTEj2KA6ppMMg-Ga0-OGOkRs8Y~B9btYSuy-6gNXDt0l6cg0w2Xtl4sMir33rGqOWyloFlMbPztIgFM~9mLM1dPLijyYv7SkJbo5V2Hiqg5mVZCKH9mJwnd0QqfbZ9mIU-5v9bkQF2VwVm3ayVG5~yzYScAPG6z~QxFu0zUsZo-RegDz4Gi6TmEOjXOS~L8dfkrZ~BAcoDRq6FwILs~YGsW3AWf39hJpom2b9bA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: blur(0.1px);
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	.container {
		width: 80%;
		margin: auto;
		header {
			margin-top: 50px;
			color: $corBranco;
			display: flex;
			justify-content: flex-start;
			gap: 20px;
			.line {
				width: 3px;
				height: 20px;
				background-color: $corPrincipal;
			}
			h1 {
				color: #FFF;
				font-family: $fontePadrao;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-transform: uppercase;
			}
		}
		.texto-exibicoes {
			h2 {
				margin-top: 35%;
				color: #FFF;
				font-family: $fontePadrao;
				font-size: 32px;
				font-style: normal;
				font-weight: 800;
				line-height: normal;
				text-transform: uppercase;
			}
			.texto-secundario {
				margin-top: 26px;
				p {
					color: #FFF;
					font-family:$fontePadrao;
					font-size: $tamanhoMedio;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					text-transform: uppercase;
				}
			}
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("https://s3-alpha-sig.figma.com/img/154e/382f/b7e8be84d7248b8b9812172cad1cd0c9?Expires=1694390400&Signature=VVlr6nNJi1iCRZlooI99XOSOwje1juyxek8HQ7to2gWdN5foBY-P1bJ5FX~TXZokQm5Dmga2wyINzPHUMHnmDy-BbgwIeY7y0obGD2qL~iGHFibBTEj2KA6ppMMg-Ga0-OGOkRs8Y~B9btYSuy-6gNXDt0l6cg0w2Xtl4sMir33rGqOWyloFlMbPztIgFM~9mLM1dPLijyYv7SkJbo5V2Hiqg5mVZCKH9mJwnd0QqfbZ9mIU-5v9bkQF2VwVm3ayVG5~yzYScAPG6z~QxFu0zUsZo-RegDz4Gi6TmEOjXOS~L8dfkrZ~BAcoDRq6FwILs~YGsW3AWf39hJpom2b9bA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		filter: blur(2px);
		z-index: -1;
	  }
	  .btn {
		width: 356px;
		font-family: $fontePadrao, cursive;
		font-weight: bold;
		color:  $corBranco;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3%;
		height: 50px;
		border-radius: 0px;
	  }
	  
	  .btn-butao1 {
		background-color: $corPrincipal;
		color: $corBranco;
		display: inline-flex;
		height: 50px;
		min-width: 356px;
		padding: 6px 25px 6px 16px;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-family: $fontePadrao;
		font-size: $tamanhoMedio -4;
		font-style: normal;
		font-weight: 700;
		line-height: 24px; 
		text-transform: uppercase;
		&:hover {
			background-color: $corPrincipalComplementar;
		}
	  }
	  .btn-butao2 {
		border: 2px solid $corBranco;
		color: $corBranco;
		display: inline-flex;
		height: 50px;
		min-width: 356px;
		padding: 6px 25px 6px 16px;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-family: $fontePadrao;
		font-size: $tamanhoMedio -4;
		font-style: normal;
		font-weight: 700;
		line-height: 24px; 
		text-transform: uppercase;
		&:hover {
			border: none;
			color: $corBranco;
			background-color: $corCinzaMedio;
		}
		margin-bottom: 50px;
	  }	  
}


@media screen and (max-width: 1200px) {
	.container {
<<<<<<< HEAD
	  width: 100%;
	  margin: 0 auto;
	  padding-right: 35px;
	  img {
		margin-bottom: 8px;
	  }
	  button {
		width: 100%;
		margin: 5px auto;
	  }
	  .row {
		.col-md-6 {
		  .texto-exibicoes {
			padding-top: 80px;
			color: $corBranco;
			font-family: $fontePadrao;

			h2 {
			  font-size: 24px;
			  margin: auto;
			  width: 80vw;
			  text-align: center;
			}

			p {
			  font-size: 16px;
			  margin: auto;
			  width: 80vw;
			  text-align: center;
			}
		  }
=======
	  header {
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 10px;
  
		.line {
		  display: none;
		}
  
		h1 {
		  text-align: center;
		}
	  }
  
	  .texto-exibicoes {
		text-align: center;
  
		h2 {
			margin-top: 5%;
		}
  
		.texto-secundario {
		  margin-top: 10px; 
>>>>>>> 451b4de9d02dd71dc045d108e7af57aabb17d9d5
		}
	  }
	}
  
	.btn {
	  margin: 10px auto; 
	}
  }
  
