// GAMBIARRA NOS ESTILOS PARA O SLIDER CONTINUAR FUNCIONANDO
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

 /*  Cores principais usadas no Projeto */
$corPrincipal: #FFC603;
$corSombraPrincipal: #D8AA0B;
$preto: #060606;
$pretoSuave: #282830;
$cinza: #C4C4C4;
$branco: #FEFBFB;

/* Cores do Sistema: Usada em Alertas */
$support-01: #2962FF;
$support-02: #0BB07B;
$support-03: #FFCE52;
$support-04: #F03D3D;
$support-05: #E0E0E0;

$fontePadrao: 'Raleway', sans-serif;
$fonteLogo: 'Montserrat Alternates', sans-serif;
$titulos: 3.5%; 
$paragrafos:  112.5%;

section {
	border: none;
	background-color: $preto;
	h3 {
		color: $corPrincipal;
		font-family: Raleway;
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: 56px;
	}
	.container-opcoes {
			position: relative;
		   display: flex;
		   justify-content: space-between;
		   .botaoEsquerda,
		   .botaoDireita {
			   width: 100px;
			   position: absolute;
			   min-height: 185px;
			   z-index: 2;
		   }
		   .botaoEsquerda {
			   left: 0;
		   }
		   .botaoDireita{
			   right: 0;
		   }
	   }
	   .card {
		   background-color: transparent;
	   }
}

@media (max-width: 767px) {
	.botaoEsquerda,
	.botaoDireita {
		width: 100px;
		position: absolute;
		height: 1550px;
		z-index: 2;
	}
}