<section>
	<div class="container"> <!-- INICIO DO SLIDER DOS FILMES -->
	  <div class="row">
		<div class="col-6">
		  <h3 class="mb-3">FILMES</h3>
		</div>
		<div class="col-12">
			<div class="container-opcoes">
				<div class="botaoEsquerda" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev"></div>
				<div class="botaoDireita" href="#carouselExampleIndicators2" role="button" data-bs-slide="next"></div>
			</div>
		  <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="false">
			<div class="carousel-inner">
			  <!-- Primeiro item do carrossel -->
			  <div class="carousel-item active">
				<div class="row">
				  <div class="col-md-3 mb-3">
					<div class="card">
					  <img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				</div>
			  </div>
			  <!-- Segundo item do carrossel -->
			  <div class="carousel-item">
				<div class="row">
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				</div>
			  </div>
			  <!-- Terceiro item do carrossel -->
			  <div class="carousel-item">
				<div class="row">
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<div class="card">
						<img src="../../assets/slider/0.png" alt="">
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div> <!-- FIM DO SLIDER DOS FILMES -->
  </section>
  