<section id="carrosel" class="carrossel carousel slide" data-bs-ride="carousel" aria-label="Galeria">	
	<div class="carousel-inner container-fluid">
		<div *ngFor="let conteudo of conteudos.slice(0, 4); let i = index" class="carousel-item" [class.active]="i === 0" [style.background-image]="'url(' + conteudo.image + ')'">
			<div class="container">
				<div class="row vh-100 justify-content-left align-items-center">
					<div class="col-md-6">
						<div class="content-carrosel container">
							<h1>{{ conteudo.title }}</h1>
							<p>{{ getSinopseLimitada(conteudo.sinopse) }}</p>
							<button class="btn btn-primary" type="button"><span class="material-icons">play_arrow</span> Assistir ao Trailer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="carousel-control-prev" href="#carrosel" role="button" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carrosel" role="button" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</a>
</section>

<section>
	<!-- Listagem de conteúdos favoritos -->
	<div *ngFor="let conteudo of conteudosFavoritos">
		<mat-grid-tile *ngIf="conteudo.favorito === true">
			<div class="container-fluid conteudo-minhaLista">
				<h1>MINHA LISTA</h1>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-12 mb-4">
						<div class="card">
							<img [src]="conteudo.image" [alt]="conteudo.title" class="img-fluid">
							<h2>{{conteudo.title}}</h2>
						</div>
					</div>
				</div>
			</div>
		</mat-grid-tile>
	</div>

	<!-- Carrossel de conteúdos -->
	<div class="carousel-slider">
		<div id="conteudoCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item" *ngFor="let chunk of dividirArrayEmGrupos(conteudos, 4); let i = index" [class.active]="i === 0">
					<div class="row">
						<div class="card-item col-md-3 mb-3" *ngFor="let conteudo of chunk">
							<div class="card" (click)="verDetalhes(conteudo.id)">
								<img [src]="conteudo.image" [alt]="conteudo.title">
								<h4>{{conteudo.title}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#conteudoCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#conteudoCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</section>
