// Nao puxe o arquivo > @import '../app.component.scss';

/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definição de variáveis de fontes */
$fonteLogo: 'Montserrat Alternates', sans-serif;
$fontePadrao: 'Raleway', sans-serif;
$tamanhoPequeno: 12px;
$tamanhoMedio: 18px;
$tamanhoGrande: 32px;
$tamanhoExtraGrande: 42px;

/* Cores */
$corPrincipal: #FFC603;
$corPrincipalComplementar: #D8AA0B;
$corBranco: #FEFBFB;
$corCinzaClaro: #afafaf;
$corCinzaMedio: #7b7b7b;
$corCinzaEscuro: #45484A;
$corPreto: #060606;

// Cores de Alertas
$corWarning: #D61C4E;
$corAlterar: #77D970;

// Definições globais
* {
	padding: 0;
	box-sizing: border-box;
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
}

*::-webkit-scrollbar {
	width: 0;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
}

* {
	-ms-overflow-style: none;
}

// Resetando estilos de listas
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.conteudo-minhaLista {
		.card {
		  flex: 1;
		  background-color: transparent;
		  text-align: center;
		  padding: 3px;
		  cursor: pointer;
		  img {
			max-width: 100%;
			height: auto;
		  }
		  &:hover {
			  transform: scale(1.05); 
			}
	}
}

/* CARROSEL DE FILMES - PRINCIPAIS */
#carrosel {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: $corPreto;
  
	.carousel-control-prev,
	.carousel-control-next {
	  opacity: 0;
	}
  
	.carousel-item {
	  background-size: cover;
	  background-position: center;
	  height: 80vh;
  
	  .content-carrosel {
		h1 {
		  color: $corBranco;
		  font-family: $fontePadrao;
		  font-size: 48px;
		  font-style: normal;
		  font-weight: 800;
		  line-height: 56px;
		}
  
		p {
		  color: $corBranco;
		  font-family: $fontePadrao;
		  font-size: $tamanhoMedio;
		  font-style: normal;
		  font-weight: 500;
		  line-height: 22px;
		}
  
		button {
		  display: flex;
		  padding: 12px 24px;
		  align-items: center;
		  gap: 8px;
		  border-radius: 6px;
		  background: #FFC603;
		  color: $corBranco;
		  font-family: $fontePadrao;
		  font-size: 14px;
		  font-style: normal;
		  font-weight: 700;
		  line-height: 24px; 
		  text-transform: uppercase;
		}
	  }
	}
  }

.content-carrosel{
	width: 75%;
	margin: 0 auto;
}
.containerTitle{
	width: 76%;
	padding-top: 10px;
	margin: 0 auto;
	.title {
		color: $corPrincipal;
		font-family: $fontePadrao;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 56px;
	}
}

/* CARROSEL DOS FILMES EM MINIATURA*/
.carousel-slider {
	max-width: 100%;
	overflow: hidden;
	.carousel-control-prev,
	.carousel-control-next {
	  opacity: 0;
	}
	.card-item {
	  display: flex;
	  align-items: stretch;
	  gap: 10px;
	  .card {
		flex: 1;
		background-color: transparent;
		text-align: center;
		padding: 3px;
		cursor: pointer;
		img {
		  max-width: 100%;
		  height: auto;
		}
		&:hover {
			transform: scale(1.05); 
		  }
		h4 {
			font-weight: 600;
			color: $corBranco;
			margin-top: 10px;
			font-size: 18px;
		}
	  }
	}
  }

  section {
	min-height: 40vh !important;
  }