@import "../app.component.scss";

.container-fluid {
	min-height: calc(100vh - 175px);
	display: flex;
	margin: auto;
	color: $branco;
	.container {
		width: 78%;
		margin: 0 auto;
		h2 {
			margin-top: 100px;
			color: $branco;
			font-family: $fonte-principal;
			font-size: 48px;
			font-style: normal;
			font-weight: 800;
			line-height: 56px;
		}
		li {
			display: inline;
		}

		.btn-container {
            display: flex;
            gap: 11px;
			button {
				background-color: $cinza-clarissimo;
				display: flex;
				width: 124px;
				height: 56px;
				padding: 6px 16px;
				align-items: center;
				gap: 8px;
				margin-top: 16px;
				border-radius: 6px;
	
				color: $preto;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				cursor: pointer;
				transition: background-color 0.3s ease-in-out;
				&:hover {
					background-color: $cinza-escuro;
				} svg {
					padding-bottom: 5px;
				}
				}
				.botaoAdd {
					display: flex;
					align-items: center;
					border: none;
					background-color: white;
					text-align: center;
					width: 54px;
					height: 54px;
					border-radius: 50%;
				}
			}
		p {
			margin-top: 16px;
		}
	}
}


.background-image {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
