//@import "../app.component.scss";
/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definição de variáveis de fontes */
$fonteLogo: 'Montserrat Alternates', sans-serif;
$fontePadrao: 'Raleway', sans-serif;
$tamanhoPequeno: 12px;
$tamanhoMedio: 18px;
$tamanhoGrande: 32px;
$tamanhoExtraGrande: 42px;

/* Cores */
$corPrincipal: #FFC603;
$corPrincipalComplementar: #D8AA0B;
$corBranco: #FEFBFB;
$corCinzaClaro: #afafaf;
$corCinzaMedio: #7b7b7b;
$corCinzaEscuro: #45484A;
$corPreto: #060606;

// Definições globais
* {
	padding: 0;
	box-sizing: border-box;
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
}

*::-webkit-scrollbar {
	width: 0;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
}

* {
	-ms-overflow-style: none;
}

// Resetando estilos de listas
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
// Container de Detalhes
.container {
	font-size: $tamanhoMedio;
	color: $corBranco;
	h2 {
		color: $corBranco;
		font-family: $fontePadrao;
		font-size: 48px;
		font-style: normal;
		font-weight: 800;
		line-height: 56px; 
	}
	li {
		display: inline;
	}
	p {
		color: $corBranco;
		font-family: $fontePadrao;
		font-size: $tamanhoMedio;
		font-style: normal;
		font-weight: 500;
		line-height: 22px;
	}
	.btn-container {
		display: flex;
		gap: 11px;
		button {
			background-color: $corBranco;
			display: flex;
			width: 164px;
			height: 56px;
			padding: 6px 16px;
			align-items: center;
			gap: 8px;
			border-radius: 6px;
			margin-bottom: 20px;
			color: $corPreto;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			cursor: pointer;
			transition: background-color 0.3s ease-in-out;
			&:hover {
				background-color: $corCinzaClaro;
			} svg {
				padding-bottom: 5px;
			}
			}
			.botaoAdd {
				display: flex;
				align-items: center;
				border: none;
				background-color: $corBranco;
				text-align: center;
				width: 54px;
				height: 54px;
				border-radius: 50%;
			}
		}
}

@media (max-width: 1200px) { 
    .container {
        padding: 10px;
    }
}

// Detalhes
.container-fluid {
	background-color: $corPreto;
	display: flex;
	margin: auto;
	color: $corBranco;
	.background-image {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	}
	.container {
		width: 80%;
		margin: 0 auto;
		h2 {
			margin-top: 100px;
			color: $corBranco;
			font-family: $fontePadrao;
			font-size: 48px;
			font-style: normal;
			font-weight: 800;
			line-height: 56px;
		}
		li {
			display: inline;
		}

		.btn-container {
            display: flex;
            gap: 11px;
			button {
				background-color: $corBranco;
				display: flex;
				width: 164px;
				height: 56px;
				padding: 6px 16px;
				align-items: center;
				gap: 8px;
				margin-top: 16px;
				border-radius: 6px;
	
				color: $corPreto;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				cursor: pointer;
				transition: background-color 0.3s ease-in-out;
				&:hover {
					background-color: $corCinzaClaro;
				} svg {
					padding-bottom: 5px;
				}
				}
				.botaoAdd {
					display: flex;
					align-items: center;
					border: none;
					background-color: $corBranco;
					text-align: center;
					width: 54px;
					height: 54px;
					border-radius: 50%;
				}
			}
		p {
			margin-top: 1%;
			margin-bottom: 7%;
		}
	}
}

// Tab do Detalhes
.mat-mdc-tab-header { 
    font-size: 18px;
    line-height: 150%;
}
  
  .mat-mdc-tab.mdc-tab {
    background-color: $corCinzaClaro;
  }
  
  .mat-mdc-tab-body.mat-mdc-tab-body-active {
	min-height: 40vh;
	font-weight: 400;
	color: $corBranco;
}
  
  .mat-mdc-tab.mdc-tab { 
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    background-color: $corPreto;
    &.mdc-tab-indicator--active { 
      background-color: $corCinzaClaro;
    }
  }
  
  .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: $corBranco;
    }
  
.mdc-tab-indicator__content--underline, .mat-mdc-tab-group, .mat-mdc-tab-nav-bar  {
    --mdc-tab-indicator-active-indicator-color: #F2F2F2;
    --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
    --mat-tab-header-pagination-icon-color: #F2F2F2;
    --mat-tab-header-inactive-label-text-color: #afafaf;
    --mat-tab-header-active-label-text-color: #F2F2F2;
    --mat-tab-header-active-ripple-color: #F2F2F2;
    --mat-tab-header-inactive-ripple-color: #F2F2F2;
    --mat-tab-header-inactive-focus-label-text-color: #FFC603;
    --mat-tab-header-inactive-hover-label-text-color: #afafaf;
	--mat-tab-header-active-focus-label-text-color: #FEFBFB;
    --mat-tab-header-active-hover-label-text-color: #F2F2F2;
    --mat-tab-header-active-focus-indicator-color: #F2F2F2;
    --mat-tab-header-active-hover-indicator-color: #F2F2F2;
  }
  
  .mdc-tab-indicator .mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
	border-color: $corCinzaClaro;
}
