<section>
	<div class="container">
		<div class="row">
				<h1>AVISOS LEGAIS</h1>
				<mat-tab-group animationDuration="1000ms">
					<mat-tab label="Política de Privacidade">
						<div class="container">
							<h2>Política de Privacidade da StartCine+ <br>Última atualização: 29/08/2023<br><br></h2>
								<p>A StartCine+ valoriza a sua privacidade e está comprometida em proteger as informações pessoais que você compartilha conosco. Por favor, note que a StartCine+ é um site fictício usado apenas para fins de estudos e práticas.</p>
						</div>
					</mat-tab>
					<mat-tab label="Proteção de Dados no Brasil">
						<div class="container">
							<h2>Proteção de Dados no Brasil</h2>
							<p>A StartCine+ respeita as regulamentações brasileiras referentes à proteção de dados pessoais. Nós aderimos à Lei Geral de Proteção de Dados (LGPD) e estamos comprometidos em garantir a segurança e privacidade das informações que você compartilha conosco.</p>
						</div>
					</mat-tab>
					

					<mat-tab label="Contrato de Assinatura">
						<div class="container">
							<h2>Contrato de Assinatura</h2>
							<p>Ao se tornar um assinante da StartCine+, você concorda em cumprir os termos e condições do nosso contrato de assinatura. Este contrato inclui detalhes sobre os planos disponíveis, preços, período de vigência e obrigações tanto da StartCine+ quanto do assinante.</p>
						</div>
					</mat-tab>
					
				</mat-tab-group>
		</div>
	</div>
</section>
