/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definição de variáveis de fontes */
$fonteLogo: 'Montserrat Alternates', sans-serif;
$fontePadrao: 'Raleway', sans-serif;
$tamanhoPequeno: 12px;
$tamanhoMedio: 18px;
$tamanhoGrande: 32px;
$tamanhoExtraGrande: 42px;

/* Cores */
$corPrincipal: #FFC603;
$corPrincipalComplementar: #D8AA0B;
$corBranco: #FEFBFB;
$corCinzaClaro: #afafaf;
$corCinzaMedio: #7b7b7b;
$corCinzaEscuro: #45484A;
$corPreto: #060606;

// Definições globais
* {
	padding: 0;
	box-sizing: border-box;
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
}

*::-webkit-scrollbar {
	width: 0;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
}

* {
	-ms-overflow-style: none;
}

// Resetando estilos de listas
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

section {
	background-color: $corPreto;
	width: 100%;
	min-height: 80vh;
}

.container-fluid {
	background-color: $corPreto;
	display: flex;
	margin: auto;
	font-family: $fontePadrao;
	color: $corBranco;
	.container {
		width: 78%;
		margin: 5% auto;
		.card {
			flex: 1;
			background-color: transparent;
			text-align: center;
			margin-left: 13px;
			cursor: pointer;
			img {
			  max-width: 100%;
			  height: auto;
			  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
			}
			&:hover {
				border: 2px solid white;
				padding: 5px 5px 0px 5px;
				transform: scale(1.05); 
			  }
		}
		h1 {
			color: $corPrincipal;
			font-family: $fontePadrao;
			font-size: $tamanhoMedio;
			font-style: normal;
			font-weight: 800;
			line-height: 56px; /* 280% */
		}
		h2 {
			font-size: $tamanhoMedio;
			color: $corBranco;
		}
    }
}