<section class="sessao01">
    <div class="container">
        <div id="logo">
            <img src="../../../assets/images/logo.svg" alt="logo do startCine">
        </div>
        <div class="exibicao">
            <div class="texto-exibicao">
                <h2>Entre e assista aos seus favoritos!</h2>
            </div>
            <button mat-button routerLink="cadastro" id="button1">QUERO VIRAR UM ASSINANTE</button>
            <button mat-button routerLink="login">JÁ SOU ASSINANTE</button>
            <button mat-button routerLink="contato">ENTRAR EM CONTATO</button>
        </div>
    </div>
</section>