@import '../../app.component.scss';

// Container de Detalhes
.detalhes {
	margin-top: 10%;
	width: 78.5%;
  font-size: $tamanhoMedio;
  color: $corBranco;
  h2 {
	color: $corBranco;
	font-family: $fontePadrao;
	font-size: 48px;
	font-style: normal;
	font-weight: 800;
	line-height: 56px;
  }
  li {
	display: inline;
  }
  p {
	color: $corBranco;
	font-family: $fontePadrao;
	font-size: $tamanhoMedio;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	margin-top: 1%;
	margin-bottom: 7%;
  }
  .btn-container {
	display: flex;
	gap: 11px;
	button {
	  background-color: $corBranco;
	  display: flex;
	  width: 164px;
	  height: 56px;
	  padding: 6px 16px;
	  align-items: center;
	  gap: 8px;
	  border-radius: 6px;
	  margin-top: 16px;
	  color: $corPreto;
	  font-size: 14px;
	  font-weight: 700;
	  text-transform: uppercase;
	  cursor: pointer;
	  transition: background-color 0.3s ease-in-out;
	  &:hover {
		background-color: $corCinzaClaro;
	  }
	  svg {
		padding-bottom: 5px;
	  }
	}
	.botaoAdd {
	  display: flex;
	  align-items: center;
	  border: none;
	  background-color: $corBranco;
	  text-align: center;
	  width: 54px;
	  height: 54px;
	  border-radius: 50%;
	}
  }
}

@media (max-width: 1200px) {
  .container {
	padding: 10px;
  }
}

mat-tab-group {
	width: 100%;
	margin: 0 auto;
}

.detalhesVideo {
	margin-top: 20px;
	width: 95%;
}
.sugestoesVideo {
	margin-top: 20px;
	width: 95%;
	.card {
		border-radius: 0;
		flex: 1;
		background-color: transparent;
		text-align: center;
		margin-left: 13px;
		cursor: pointer;
		img {
		  max-width: 100%;
		  height: auto;
		}
		&:hover {
			border: 2px solid white;
			padding: 5px 5px 0px 5px;
			transform: scale(1.05); 
		  }
	}
	h2 {
		text-align: center;
		font-size: $tamanhoMedio;
		color: $corBranco;
		margin-top: 10px;
		font-size: 18px;
	}
}


// Desativar o botao
.disabled-button {
	background-color: $corCinzaEscuro;
	cursor: none;
	pointer-events: none;
  }
  
  mat-icon {
	color: $corPrincipal;
  }

// Tab do Detalhes
.mat-mdc-tab-header {
  font-size: 18px;
  line-height: 150%;
}

.mat-mdc-tab.mdc-tab {
  background-color: $corCinzaClaro;
}

.mat-mdc-tab-body.mat-mdc-tab-body-active {
  min-height: 40vh;
  font-weight: 400;
  color: $corBranco;
}

.mat-mdc-tab.mdc-tab {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
  background-color: $corPreto;
  &.mdc-tab-indicator--active {
	background-color: $corCinzaClaro;
  }
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: $corBranco;
}

.mdc-tab-indicator .mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
  border-color: $corCinzaClaro;
}

.mdc-tab-indicator__content--underline, .mat-mdc-tab-group, .mat-mdc-tab-nav-bar  {
	--mdc-tab-indicator-active-indicator-color: #F2F2F2;
	--mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
	--mat-tab-header-pagination-icon-color: #F2F2F2;
	--mat-tab-header-inactive-label-text-color: #afafaf;
	--mat-tab-header-active-label-text-color: #F2F2F2;
	--mat-tab-header-active-ripple-color: #F2F2F2;
	--mat-tab-header-inactive-ripple-color: #F2F2F2;
	--mat-tab-header-inactive-focus-label-text-color: #FFC603;
	--mat-tab-header-inactive-hover-label-text-color: #afafaf;
	--mat-tab-header-active-focus-label-text-color: #FEFBFB;
	--mat-tab-header-active-hover-label-text-color: #F2F2F2;
	--mat-tab-header-active-focus-indicator-color: #F2F2F2;
	--mat-tab-header-active-hover-indicator-color: #F2F2F2;
  }

