{
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "endOfLine": "auto"
  }
  