@import '../../app.component.scss';


section.sessao01 {
  background-image: url("https://www.whatsong.org/images/tvshow/backdrop/t6mukQI9vmCOTf70BcyvijqOFA1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(0.1px);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  .container {
	width: 80%;
	margin: auto;

	.texto-exibicoes {
		margin-top: 15%;
	  color: $corBranco;
	  font-family: $fontePadrao;

	  h2 {
		color: $corBranco;
		font-family: $fontePadrao;
		font-size: 30px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		text-transform: uppercase;
		width: 50vw;
		margin-bottom: 30px;
		margin-top: 100px;
	  }

	  p {
		width: 50vw;
		color: $corBranco;
		font-family: $fontePadrao;
		font-size: $tamanhoMedio;
		font-style: normal;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 50px;
	  }

	  .cartao-externo {
		display: flex;
		img {
			&:hover {
			  transform: scale(1.02);
			  transition: all 0.5s;
			}
		  }
	  }
	}
  }
}

.card {
	margin-top: 100px;
	img {
	  &:hover {
		transform: scale(1.02);
		transition: all 0.5s;
	  }
	}
  }

/* Estilos para telas pequenas (até 768px) */
@media screen and (max-width: 768px) {
  .sessao01 {
	background-image: url("https://www.whatsong.org/images/tvshow/backdrop/t6mukQI9vmCOTf70BcyvijqOFA1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: blur(0.1px);
	width: 100%;
	min-height: 100vh;
	.container {
	  width: 100%;
	  margin: 0 auto; 
	  .texto-exibicoes {
		color: $corBranco;
		font-family: $fontePadrao;
		text-align: center; 


		h2 {
			font-size: 24px;
			font-size: $tamanhoMedio;
			text-align: center;
			margin: 0 auto;
		}

		p {
			font-family: $fontePadrao;
			font-size: $tamanhoMedio;
			text-align: center;
			margin: 0 auto;
		}
	  }
	}
  }
}
